<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!-- Map all /resources requests to the Resource Servlet for handling -->
    <filter>
        <filter-name>UsuarioLogado</filter-name>
        <filter-class>sac.filter.UsuarioLogado</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UsuarioLogado</filter-name>
        <servlet-name>Novo_</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UsuarioLogado</filter-name>
        <servlet-name>Excluir</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UsuarioLogado</filter-name>
        <servlet-name>Atendimento</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UsuarioLogado</filter-name>
        <servlet-name>Novo</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UsuarioLogado</filter-name>
        <servlet-name>AlterarDados</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UsuarioLogado</filter-name>
        <servlet-name>Dashboard</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>sac.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EsqueciSenha</servlet-name>
        <servlet-class>sac.controller.EsqueciSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>sac.controller.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>sac.controller.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarDados</servlet-name>
        <servlet-class>sac.controller.AlterarDados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Novo</servlet-name>
        <servlet-class>sac.controller.Novo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cidade</servlet-name>
        <servlet-class>sac.controller.Cidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Atendimento</servlet-name>
        <servlet-class>sac.controller.Atendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Excluir</servlet-name>
        <servlet-class>sac.controller.Excluir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Novo_</servlet-name>
        <servlet-class>sac.controller.Novo_</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Relatorio</servlet-name>
        <servlet-class>sac.controller.Relatorio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EsqueciSenha</servlet-name>
        <url-pattern>/EsqueciSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarDados</servlet-name>
        <url-pattern>/AlterarDados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Novo</servlet-name>
        <url-pattern>/Categoria</url-pattern>
        <url-pattern>/Produto</url-pattern>
        <url-pattern>/Funcionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cidade</servlet-name>
        <url-pattern>/Cidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Atendimento</servlet-name>
        <url-pattern>/Atendimento</url-pattern>
        <url-pattern>/TodosAtendimentos</url-pattern>
        <url-pattern>/TodosAtendimentosAberto</url-pattern>
        <url-pattern>/MeusAtendimentos</url-pattern>
        <url-pattern>/Novo_Atendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Excluir</servlet-name>
        <url-pattern>/Excluir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Novo_</servlet-name>
        <url-pattern>/Novo_Categoria</url-pattern>
        <url-pattern>/Novo_Produto</url-pattern>
        <url-pattern>/Novo_Funcionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Relatorio</servlet-name>
        <url-pattern>/RelatorioFuncionario</url-pattern>
        <url-pattern>/RelatorioProduto</url-pattern>
        <url-pattern>/RelatorioAtendimento</url-pattern>
        <url-pattern>/GerarRelatorioAtendimento</url-pattern>
        <url-pattern>/RelatorioReclamacao</url-pattern>
        <url-pattern>/GerarRelatorioReclamacao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
